# File not managed via helm
# Copy without the .dist suffix, add and change values, and apply: kubectl apply -f secret.yml
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cataclop-app
  labels:
    project: cataclop
    env: prod
stringData:
  APP_SECRET: "!ChangeMe!"
  DATABASE_URL: "postgresql://api-platform:!ChangeMe!@127:0:0:1:5432/api?serverVersion=13&charset=utf8"
